body {
    background: #ffffff56;
    
  }

  h1 {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color: rgb(247, 203, 168);
    font-size: 800%;
    text-align: center;
    margin-top: 280px;
    margin-right: 5px;
    
    
  }

  form input[type="text"] {
    margin-top: 1px;
    margin-left: 630px;
    padding-right: 300px;
    font-size: 30px;
    border: none;
    border-radius: 50px;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
  }

  .searchh{
    margin-top: 10px;
    margin-left: 730px;
  }

  
  
  